*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Grid Framework */

.row {
  width: 100%;
  padding: 0 var(--padding-grid);
}

.row > * {
  display: inline-block;
  padding: 0 var(--padding-grid);
}

.row .col-12 {
  width: 100%;
}

.row .col-11 {
  width: 91.92%;
}

.row .col-10 {
  width: 83.84%;
}

.row .col-9 {
  width: 75%;
}

.row .col-8 {
  width: 66.66%;
}

.row .col-7 {
  width: 75%;
}

.row .col-6 {
  width: 50%;
}

.row .col-5 {
  width: 41.67%;
}

.row .col-4 {
  width: 33.33%;
}

.row .col-3 {
  width: 25%;
}

.row .col-2 {
  width: 16.66%;
}

.row .col-1 {
  width: 8.08%;
}
